
<section>
  	<div class="main-w3layouts wrapper">
		<h1><b>Admin login</b></h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/admin/adminLogin" method="post">
					
          <input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<br/>       <p class="text-danger">{{errorMessage}}</p>
					<input type="submit" value="Login">
				</form>
				
			</div>
		</div>
		
	</div>
</section>
<script>
        {% if message %}
            toastr.success("{{message}}");
        {% endif %}
        {% if errorMessage %}
            toastr.error("{{errorMessage}}");
        {% endif %}
    </script>