
 <section>
  	<div class="main-w3layouts wrapper">
		<h1><b>Login</b></h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/login" method="post">
					
          <input class="text email" type="email" name="email" placeholder="Email" required="" value="{{formData.email}}">
					<input class="text" type="password" name="password" placeholder="Password" required=""value="{{formData.password}}">
					<br/>
					 {{!-- <p class="text-danger">{{errorMessage}}</p> --}}
					<input type="submit" value="Login">
				</form>
				
				<p>Don't have an account?<a href="/register"> Sign Up Now!</a></p>
			</div>
		</div>
		
	</div>
</section> 
 
