
<section>
  	<div class="main-w3layouts wrapper">
		<h1 class="fw-600"><b>Create an Account</b></h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/register" method="post">
					<input class="text" type="text" name="fullName" placeholder="Username" required="">
					 <input class="text email" type="email" name="email" placeholder="Email" required="">
           <input class="text" type="text"  name="phone" placeholder="Mobile Number" required="">
         
					<input class="text w3lpass" type="password" name="password" placeholder="Password" required="">
					   <br/>  
					     {{!-- <p class="text-danger">{{errorMessage}}</p> --}}
					<input type="submit" value="SIGNUP">
				</form>
				
				<p>Already have an account?<a href="/"> Login Now!</a></p>
			</div>
		</div>
		
		
	</div>
</section>